  .menu {
    margin: 0 auto;
    list-style: none;
    width: 75%;
  }

  .menu li a {
    float: left;
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
    color: red;
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 50px;
    top: 50px;
    line-height: 50px;
  }

  .menu img {
    width: inherit;
    height: inherit;
  }

  .navLogo {}

  .menu li:hover {
    opacity: 0.8;
  }
